#times {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 20%;
}

#times td,
#times th {
    border: 1px solid #ddd;
    padding: 8px;
}

#times tr:nth-child(even) {
    background-color: #f2f2f2;
}

#times tr:hover {
    background-color: #ddd;
}

#times th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1166d4;
    color: white;
}
